<%- include('partials/header') -%>

<div class="container col-xxl-8 px-4 py-1 card-container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/imgs/BS.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="350" height="250" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Can't figure out where to dine?</h1>
        <p class="lead">Our goal is simple, to give customers the power to connect with great businesses in their area!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/signup" type="button" class="btn btn-outline-primary btn-lg">
            Signup for BAHA-GO
          </a>
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
        </div>
      </div>
    </div>
  </div>

  <section class="pb-4 pt-4 container mt-5">
    <div class="d-flex mb-1 align-items-center">
      <h2>Latest Reviews</h2>
      <a href="/login" class="ms-auto btn btn-primary" type="button">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 container pb-5 ">
      
        <% for(let i= 0; i < posts.length; i++) {%>
          
               
            <a href="/post/<%= posts[i]._id%>" class="col text-center category__link" loading="lazy">
              <div class="category__img shadow">
                <img src="<%=posts[i].image%>" alt="<%=posts[i].title%>">
                
              </div>
              <div>
                <h5 class="card-title"><%=posts[i].title%></h5>
              </div>
              
            </a>
        <% } %>
      
    </div>

  </section>

  <section class="px-4 py-2 my-5 text-center">
    
    <h1 class="display-5 fw-bold">Post your restaraunt review for FREE today</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Post your restaraunt review in front of thousands of people for free.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/signup" class="btn btn-primary btn-dark btn-lg">Sign-up Now!</a>
      </div>
    </div>
  </section>

  <section>
    <div class="container px-5 pb-3">
      <div class="d-flex flex-column flex-lg-row align-items center justify-content-center">
        <a href="#" ><img src="/imgs/googleplay.svg" alt="" class="appimg google-img"></a>
        <a href="#"><img src="/imgs/applestore.svg" class="appimg appleimg" alt=""></a>
        
      </div>
    </div>
  </section>


  <%- include('partials/footer') -%>